<ion-view view-title="Chat">
    <ion-content>
        <ion-list>
            <ion-item>Current Position : {{position}}</ion-item>
            <ion-item ng-repeat="c in chat()">
                <p>{{c.m}}</p>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="publish(); closeKeyboard()" ng-model="message" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <button class="button button-clear" ng-click="publish()">
            Send
        </button>
    </ion-footer-bar>
</ion-view>