<ion-view view-title="Test">
    <ion-content>
        <div class="chatbox">
            <div class="chat-bubble left">
                <div class="message">
                    Coucou marou!
                </div>
            </div>
            <div class="chat-bubble right">
                <div class="message">
                    Coucou mina!
                </div>
            </div>
            <div class="chat-bubble left">
                <div class="message">
                    aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpofhqs opifqzo ifh qiozfhoqisdfhoqsifhqop fhqop aeiaheoiaheohfpoqhpof
                </div>
            </div>
            <div class="chat-bubble right">
                <div class="message">
                    a
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>