<ion-view view-title="Chat">
    <p>Current Position : {{position}}</p>
    <ion-content>
        <ion-list>
            <ion-item collection-repeat="c in chat" type="item-text-wrap">
                <p>{{c.m}}</p>                
                <div class="item-note">
                    <span>by {{c.n}} </span><span am-time-ago="c.ts"/>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="publish(); closeKeyboard()" ng-model="message" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <button class="button button-clear" ng-click="publish()">
            Send
        </button>
    </ion-footer-bar>
</ion-view>