/* Empty. Add your own CSS if you like */

.chatbox {
    position: absolute;
    bottom: 0px;
}

.chat-bubble {
    border-radius: 5px;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.chat-bubble:before {
    content: "\00a0";
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.blue {
    background-color: deepskyblue
}

.chat-bubble.red {
    background-color: coral
}

.chat-bubble.green {
    background-color: forestgreen
}

.chat-bubble.yellow {
    background-color: lightgoldenrodyellow
}

.chat-bubble.left {
    float: left;
    margin-left: 55px;
    background-color: forestgreen
}

.chat-bubble.left:before {
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    float: right;
    margin: 5px 20px 5px 45px;
    background-color: deepskyblue
}

.chat-bubble.right::before {
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}